body {
  background-color: #fff;
}

div {
  border: 1px solid chocolate;
}

/** Navigation Sec **/

.top-navigation {
  background-color: #fff;
}

.top-navigation > .content {
  width:970px;
  height: 70px;
  margin: 0 auto;
}
